body {
    background: rgba(247, 187, 117, 0.25);
}

.about-us-main {
    margin: 200px 0;
}

.about-us-section__left-content {
    max-width: 460px;
}
.about-us-section__right-content{
    position: relative;
}

.about-us-section__title {
    margin-bottom: 74px;
    font-weight: 800;
    font-size: 26px;
    line-height: 109%;
    color: #000;
}

.about-us-section__subtitle {
    margin-bottom: 36px;
    font-size: 21px;
    line-height: 109.42%;
    font-weight: bold;
    color: #000;
}

.about-us-section__first-paragraph {
    margin-bottom: 40px;
}

.about-us-section__first-paragraph,
.about-us-section__second-paragraph {
    font-weight: 500;
    font-size: 17px;
    line-height: 109%;
    color: #000;
}

.about-us-section__main-content-container {
    display: flex;
    justify-content: space-between;
}

.about-us-section__image {
    max-width: 1040px;
    position: absolute;
    right: -227px;
    top: -56px;
}

.about-us-section__prac {
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.075em;
    color: #000;
    text-align: center;
}

.about-us-section_prac-list {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}