.animals-main {
  margin: 150px 0;
}

.filter-section {
  margin-bottom: 60px !important;
}

.filter-section__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
  line-height: 109%;
  color: #000;
}

.filter-section__categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  min-width: 165px;
  padding: 12.5px 21px;
  border: 1px solid #595959;
  box-sizing: border-box;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px;
}

.category:hover {
  background: rgba(207, 29, 29, 0.7);
  border: 1px solid #9d0000;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.category--selected {
  background: rgba(207, 29, 29, 0.7);
  border: 1px solid #9d0000;
  box-sizing: border-box;
  border-radius: 27px;
  color: #fff;
}

.animals-section {
  display: flex;
  justify-content: center;
}

.animals-section__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1130px;
}

.animal-card {
  max-width: 350px;
  margin-bottom: 24px;
  padding: 22px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 35px;
}

.animal-card__header {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animal-card__header .header-box {
  font-size: 12px;
  line-height: 109.42%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box .header-box__age {
  margin-right: 8px;
  border: 1px solid #a25e5e;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 28px;
  max-height: 28px;
  font-size: 14px;
}

.animal-card__main {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animal-card__main img {
  margin-bottom: 28px;
  width: 209px;
  height: 214px;
  object-fit: cover;
}

.main-box__title {
  margin-bottom: 6px;
  align-self: flex-start;
  font-weight: 600;
  font-size: 18px;
  line-height: 109.42%;
  color: #000;
}

.main-box__description {
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 109.42%;
  color: #000;
}

.main-box__tags {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.main-box__tags p {
  font-size: 10px;
  line-height: 109.42%;
  color: #000;
  display: flex;
  align-items: center;
}

.main-box__tags p:not(:last-child) {
  margin-right: 12px;
}

.main-box__tags p:first-child::before,
.main-box__tags p:last-child::before {
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 6px;
  display: inline-flex;
  border-radius: 50%;
}

.main-box__tags p:first-child::before {
  background: #ECCF6A;
}

.main-box__tags p:last-child::before {
  background: #6B83FD;
}

.animal-card__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-box__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 109.42%;
  color: #51C155;
}

.footer-box__button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 109.42%;
  color: #143c15;
  background: none;
}

.footer-box__button img {
  margin-left: 8px;
  margin-bottom: 7px;
}

body.animals__body {
  background: rgba(247, 187, 117, 0.25);
}