@import url('../css/fonts.css');
@import url('../css/animals.css');

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

h3 {
    font-weight: 800;
    font-size: 30px;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
}

.container {
    padding: 0 20px;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.logo img {
    padding-top: 12px;
}

.header__nav ul {
    display: flex;
}

.header__nav ul li {
    margin-right: 14px;
}

.header__nav ul li a {
    font-size: 18px;
    color: #000;
}

.header__nav ul li a.active {
    font-weight: 600;
}

.call {
    font-size: 18px;
    color: #000;
}

.call img {
    margin-right: 7px;
}

.header__cart-dropdown {
    display: flex;
    align-items: center;
}

.header__cart-dropdown span {
    font-size: 18px;
    color: #000;
}

.header__cart-dropdown .cart-icon {
    margin-right: 8px;
}

.header__cart-dropdown .arrow__cart-down {
    margin-left: 8px;
}

/* Main section */

.main {
    background: linear-gradient(113.72deg, #FFC531 18.07%, #F7953C 86.73%);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main__text {
    max-width: 464px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 18em;
}

.main__text h1 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}

.main__text p {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 36px;
    max-width: 372px;
}

.main__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    border-radius: 40px;
    background: linear-gradient(180deg, #FA3A68 0%, #CC1637 100%);
    filter: drop-shadow(1px 0px 29px rgba(207, 87, 109, 0.97));
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .6s all;
}

.main__btn:hover {
    transform: translateY(-5px);
}

.main__animals-pics {
    position: absolute;
    right: -4%;
    bottom: 0;
    height: 960px;
    overflow: hidden;
}

/* Why us section */

.why__us {
    transform: translateY(-240px);
}

.mini__slider {
    width: 628px;
    height: 390px;
    margin-left: -54px;
    padding: 60px 0;
}

.mini__slider-card {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.14);
    border-radius: 27px;
}

.card__head {
    display: flex;
    margin-bottom: 10px;
}

.card__head p {
    margin-right: 20px;
    font-weight: bold;
}

.dogs-text--color {
    color: #B95A03;
}

.birds-text--color {
    color: #29A415;
}

.card__pic {
    max-width: 160px;
    align-self: center;
}

.mini__slider-card_wrapper {
    display: flex;
    justify-content: center;
}

.mini__slider-card_wrapper.swiper-slide-active {
    justify-content: flex-end;
}

.mini__slider-card_wrapper.swiper-slide-next {
    justify-content: flex-start;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
}

.swiper-button-prev:after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next:after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-horizontal>.swiper-scrollbar {
    bottom: 20px;
}

.swiper-scrollbar {
    width: 240px !important;
    left: 50% !important;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: rgba(65, 59, 51, 0.38);
}

.swiper-scrollbar-drag {
    width: 60px !important;
    height: 9px;
    top: -2px;
    background-color: #8D7474;
}

.why__us-benefits {
    display: flex;
    justify-content: space-between;
}

.why__us-benefit {
    display: flex;
    max-width: 346px;
}

.why__us-benefit_text {
    margin-left: 30px;
}

.why__us-benefit_text h5 {
    font-weight: 800;
    font-size: 20px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 8px;
}

.why__us-benefit_text p {
    font-size: 16px;
    color: #000000;
}

.why__us h3 {
    max-width: 390px;
    margin-top: 120px;
    margin-bottom: 68px;
}

/* Catalog */

.catalog {
    padding: 80px;
    background-color: rgba(246, 187, 117, 0.25);
}

.catalog__heading {
    text-align: center;
    margin-bottom: 80px;
}

.catalog__slider {
    max-width: 1130px;
}

.catalog__slide-wrapper {
    margin-bottom: 50px;
}

.catalog__slide-wrapper .swiper-slide.animal-card {
    max-width: unset;
    min-height: 460px;
}

.swiper-pagination {
    width: 100px !important;
}

.swiper-pagination-bullet {
    background-color: #5f4747a6;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
}

.added__to-cart {
    display: flex;
    align-items: center;
    cursor: not-allowed;
}

/* Gallery */

.gallery {
    padding: 150px;
}

.gallery__heading {
    text-align: center;
    margin-bottom: 90px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 30px;
}

.gallery__grid a {
    height: fit-content;
}

.gallery__grid a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img1 {
    grid-column: 1/3;
}

.gallery__img2 {
    grid-column: 3/5;
}

.gallery__img3 {
    grid-column: 5/7;
}

.gallery__img4 {
    grid-column: 1/3;
    grid-row: 4/5;
    margin-top: -60px;
}

.gallery__img5 {
    grid-column: 3/5;
    grid-row: 4/5;
    margin-top: 64px;
}

.gallery__img6 {
    grid-row: 3/5;
    grid-column: 5/7;
    margin-top: -12px;
}

/* Footer */

.footer {
    position: relative;
    padding-top: 115px;
    padding-bottom: 52px;
    background-color: #000;
    color: #fff;
}

.footer__title {
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 30px;
    line-height: 109.42%;
}

.footer-form {
    max-width: 630px;
    margin-bottom: 160px;
}

.footer-form__checkboxes {
    display: flex;
    align-items: flex-start;
}

.footer-form__checkboxes .checkboxes-wrap {
    margin-right: 100px;
}

.footer-form__inputs-box:not(:last-child) {
    margin-bottom: 32px;
}

.footer-form__input,
.footer-form__textarea {
    min-width: 296px;
    padding: 6px;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 109.42%;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
}

.space-xl {
    margin-right: 30px;
}

.footer-form__input::placeholder,
.footer-form__textarea::placeholder {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 109.42%;
    color: rgb(196, 196, 196);
}

.footer-form__textarea {
    font-family: 'Montserrat';
    margin-bottom: 35px;
    width: 100%;
}

.footer-form__submit-btn {
    padding: 10px 64px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    background: linear-gradient(180deg, #ec4a70 0%, #CC1637 100%);
    cursor: pointer;
    border-radius: 40px;
    transition: .3s;
}

.footer-form__submit-btn:hover {
    background-color: #f63764;
    box-shadow: 0px 0px 29px 3px rgba(255, 90, 128, 0.54);
}

.footer-form__checkbox-group {
    margin-bottom: 8px;
}

.footer-form__checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.footer-form__checkbox-group label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
}

.footer-form__checkbox-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.footer-form__checkbox-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
    width: 4px;
    height: 12px;
    border: solid #FFC531;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.footer-detail {
    max-width: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.075em;
    color: #fff;
}

.footer__dog-image {
    position: absolute;
    right: 0;
    max-width: 830px;
    bottom: 0;
    right: 24px;
    filter: brightness(0.5)
}

@media (max-width: 1210px) {
    .footer__dog-image {
        display: none;
    }

    .footer-form {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-detail {
        max-width: 100%;
        justify-content: center;
    }
}

::-webkit-scrollbar {
    width: .6rem;
    background-color: rgba(85, 56, 17, 0.589);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(54, 33, 24, 0.589);
    border-radius: 1rem;
}

@media screen and (max-width: 1760px) {
    .main__animals-pics {
        display: flex;
        right: 0;
        height: auto;
    }

    .main__animals-pics img {
        max-width: 1110px;
    }
}

@media screen and (max-width: 1400px) {
    .main__animals-pics img {
        max-width: 980px;
    }

    .mini__slider {
        margin-left: 20px;
    }

    .main__text {
        margin-left: 70px;
    }
}

@media screen and (max-width: 1280px) {
    .main__animals-pics img {
        max-width: 900px;
    }
}