@import url('../css/fonts.css');

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.logo img {
    padding-top: 12px;
}

.header__nav ul {
    display: flex;
}

.header__nav ul li {
    margin-right: 14px;
}

.header__nav ul li a {
    font-size: 18px;
    color: #000;
}

.header__nav ul li a.active {
    font-weight: 600;
}

.call {
    font-size: 18px;
    color: #000;
}

.call img {
    margin-right: 7px;
}

.header__cart-dropdown span {
    font-size: 18px;
    color: #000;
}

.header__cart-dropdown .cart-icon {
    margin-right: 8px;
}

.header__cart-dropdown .arrow__cart-down {
    margin-left: 8px;
}

/* Main section */

.main {
    background: linear-gradient(113.72deg, #FFC531 18.07%, #F7953C 86.73%);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main__text {
    max-width: 464px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 18em;
}

.main__text h1 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}

.main__text p {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 36px;
    max-width: 372px;
}

.main__btn {
    width: 300px;
    height: 70px;
    border-radius: 40px;
    background: linear-gradient(180deg, #FA3A68 0%, #CC1637 100%);
    filter: drop-shadow(1px 0px 29px rgba(207, 87, 109, 0.97));
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .6s all;
}

.main__btn:hover {
    transform: translateY(-5px);
}

.main__animals-pics {
    position: absolute;
    right: -4%;
    bottom: 0;
    height: 960px;
    overflow: hidden;
}

/* Why us section */

.why__us {
    padding-bottom: 300px;
    transform: translateY(-240px);
}

.mini__slider {
    width: 628px;
    height: 390px;
    margin-left: -54px;
    padding: 60px 0;
}

.mini__slider-card {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.14);
    border-radius: 27px;
}

.card__head {
    display: flex;
    margin-bottom: 10px;
}

.card__head p {
    margin-right: 20px;
    font-weight: bold;
}

.dogs-text--color {
    color: #B95A03;
}

.birds-text--color {
    color: #29A415;
}

.card__pic {
    max-width: 160px;
    align-self: center;
}

.mini__slider-card_wrapper {
    display: flex;
    justify-content: center;
}

.mini__slider-card_wrapper.swiper-slide-active {
    justify-content: flex-end;
}

.mini__slider-card_wrapper.swiper-slide-next {
    justify-content: flex-start;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
}

.swiper-button-prev:after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next:after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-horizontal>.swiper-scrollbar {
    bottom: 20px;
}

.swiper-scrollbar {
    width: 240px !important;
    left: 50% !important;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: rgba(65, 59, 51, 0.38);
}

.swiper-scrollbar-drag {
    width: 60px !important;
    height: 9px;
    top: -2px;
    background-color: #8D7474;
}

.why__us-benefits {
    display: flex;
    justify-content: space-between;
}

.why__us-benefit {
    display: flex;
    max-width: 346px;
}

.why__us-benefit_text {
    margin-left: 30px;
}

.why__us-benefit_text h5 {
    font-weight: 800;
    font-size: 20px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 8px;
}

.why__us-benefit_text p {
    font-size: 16px;
    color: #000000;
}

.why__us h3 {
    max-width: 390px;
    font-weight: 800;
    font-size: 30px;
    color: #000000;
    margin-top: 120px;
    margin-bottom: 68px;
}